@charset "utf-8";

/*イタリアンレストラン　ラパウザ  #25*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f9a529;
	line-height: 1.5;
}

.wrap {
	width: 830px;
	margin: auto;
	background-color: #fff;
	margin-bottom: 20px;
}

.nav {
	list-style-type: none;
	float: left;
	width: 200px;
}

.contents {
	background-color: #337020;
}

.main {
	background-color: #FFF;
	float: left;
	width: 630px;
	text-align: center;
}

.kaijyo{
	clear:both;
}

.main h3 {
	padding-bottom: 10px;
}

.banner {
	padding-bottom: 20px;
}

.text {
	background-image: url(img/copy.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: left;
	width:580px;
	margin:auto;
	padding-left:20px;
	padding-bottom:20px;
}

.nav a{
	display:block;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

.nav1 a {
	height: 38px;
	width: 194px;
	background-image: url(img/menu_01.jpg);
}
.nav1 a:hover {
	background-position: 0px 38px;
}

.nav2 a {
	height: 36px;
	width: 194px;
	background-image: url(img/menu_02.jpg);
}
.nav2 a:hover {
	background-position: 0px 36px;
}

.nav3 a {
	height: 38px;
	width: 194px;
	background-image: url(img/menu_03.jpg);
}
.nav3 a:hover {
	background-position: 0px 38px;
}
